*{
    margin: 0;
    padding: 0;
}

body{
    background: #0c192c;
    display: flex;
    flex-direction:column;
    align-items:center;
    
}

.font{
    position:fixed;
    display: flex;
    top: -50%;
    font-size: 39px;
    justify-content: center;
    margin-top:22%;
    margin-left: -25%;
    margin-right: 0%;
    user-select: none;
    cursor: default;   
    transform: rotate(-27deg);
}

.font .uno{
    margin-right:20px;
}
.uno:hover{
    transition: 0s;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .dos{
    margin-left:1%;
}
.dos:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .tres{
    margin-left:1%;
}
.tres:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .cuatro{
    margin-left:1%;
}
.cuatro:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .cinco{
    margin-left:1%;
}
.cinco:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .seis{
    margin-left:1%;
}
.seis:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .siete{
    margin-left:1%;
}
.siete:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .ocho{
    margin-left:1%;
}
.ocho:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .nueve{
    margin-left:1%;
}
.nueve:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .diez{
    margin-left:1%;
}
.diez:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .once{
    margin-left:1%;
}
.once:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .doce{
    margin-left:1%;
}
.doce:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .trece{
    margin-left:1%;
}
.trece:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .catorce{
    margin-left:1%;
}
.catorce:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .quince{
    margin-left:1%;
}
.quince:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .dieciseis{
    margin-left:1%;
}
.dieciseis:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .diecisiete{
    margin-left:1%;
}
.diecisiete:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .dieciocho{
    margin-left:1%;
}
.dieciocho:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .diecinueve{
    margin-left:1%;
}
.diecinueve:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .veinte{
    margin-left:1%;
}
.veinte:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .veintiuno{
    margin-left:1%;
}
.veintiuno:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .veintidos{
    margin-left:1%;
}
.veintidos:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .veintidos{
    margin-left:1%;
}
.veintidos:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .veintitres{
    margin-left:1%;
}
.veintitres:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .veinticuatro{
    margin-left:1%;
}
.veinticuatro:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .veinticinco{
    margin-left:1%;
}
.veinticinco:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .veintiseis{
    margin-left:1%;
}
.veintiseis:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .veintisiete{
    margin-left:1%;
}
.veintisiete:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .veintiocho{
    margin-left:1%;
}
.veintiocho:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .veintinueve{
    margin-left:1%;
}
.veintinueve:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.font .treinta{
    margin-left:1%;
}
.treinta:hover{
    transition: 0%;
    color:#ff006e;
    text-shadow: 0 0 120px #ff006e;
}

.inicio{
    margin-top: 80px;
}

.ocupacion{
    margin-top: 40px;
    color: #2ec4b6;
    display:flex;
    text-align: right;
    justify-content: right;
    font-family: 'Too Freakin Cute Demo', sans-serif;
    animation: animate 3s ease-in-out infinite;
}

@keyframes animate{
    0%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform:translateY(-20px);
    }
}


.lenguaje{
    margin-top: 35px;
    color: #d8e2dc;
    font-size: 20px;
    font-family: 'Bangalore', sans-serif;
}

.contacto{
    margin-top: 50px;
}

.links{
    position:relative;
    margin-top: 250px;
    text-decoration: none;
    font-size: 2.5rem;    
}

.Uno a{
    position:absolute;
    font-family: 'AsmatFont2007', sans-serif;
    color: #1282a2;
    margin-left: -14.5%;
    margin-top: 0px;
    text-decoration: none;
    animation: Uno 3s ease-in-out infinite;
}

.borde{
    color: #eeeeee;
    font-family: 'AsmatFont2007', sans-serif;
    text-shadow: 
    -1px -1px 0 transparent,
    1px -1px 0 transparent,
    1px 1px 0 transparent,
    -1px 1px 0 transparent;
}

@keyframes Uno {
    0%, 100%{
        clip-path: polygon(
            0%  47%,
            10% 48%,
            33% 54%,
            54% 68%,
            70% 61%,
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100%
        );
    }
    50%{
        clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 62%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }
}

.Dos a{
    text-decoration: none;
    background: #000;
    background: radial-gradient(#d7263d, #000);
    font-size: 3rem;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Play Leaves Personal Use', sans-serif;
} 
  a:hover{
    color: #adb5bd;
  }

.bienvenida h1{  
    background: #000;
    background: radial-gradient(#fee440, #000);
    font-size: 5rem;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Parry Hotter', sans-serif;
}

.bienvenida h4{
    display: block;
    font-family: monospace; 
    white-space: nowrap;
    border-right: 5px solid;
    width: 38ch;
    color: white;

    animation: typing 5s
    steps(38), 
    blink .5s infinite step-end alternate;  
    overflow: hidden;
}

@keyframes typing{
    from{width: 0;}
}

@keyframes blink{
    50% {border-color: transparent;}
}

.linkedin img{
    position: absolute;
    height: 40px;
    width: auto;
    margin-top: 5px;
    margin-left: 190px;
}

.github img{
    position: absolute;
    height: 40px;
    width: auto;
    margin-top: 75px;
    margin-left: 225px;
}

.cards{
    margin-top: 45px;
}

.card1{
    position: absolute;
    margin-left: -120px;
}

.card2{
    display: inline-block;
}

.card3{
    position: absolute;
    display: inline-block;
    margin-left: 40px;
}

.proyectos{
    display: flex;
    justify-content: center;
    margin-top: 130px;
    width: 480px;
    height: 42px;
    font-family: 'Shine of Love', sans-serif;
    color: #168aad;
    font-size: 45px;
    line-height: 41px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
ul{
    list-style: none;
    padding-left: 10px;
    animation: cambiar 7s infinite;
}
ul,p{
margin: 0;
}
@keyframes cambiar{
    0%{
        margin-top: 0;
    }
    20%{
        margin-top: 0;
    }
    25%{
        margin-top: -40px;
    }
    50%{
        margin-top:-40px;
    }
    55%{
        margin-top: -80px;
    }
    80%{
        margin-top: -80px;
    }
    85%{
        margin-top: -40px;
    }
    95%{
        margin-top: -40px;
    }
    100%{
        margin-top:0;
    }
}

button{
    background: black ;
    margin-top: 15px;
    cursor: pointer;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    display: flex;
    cursor: pointer;
    transition: 0.3s;
}

button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /*por detras del boton*/
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        #850085, #cc3333, #023e7d, #850085, #cc3333, #023e7d
    );
    background-size: 800%;
    border-radius: 10px;
    filter:blur(8px);
    transition: .3s;
    animation: glowing 20s linear infinite();
}

button:hover {
    background: none;
    transform: scale(1.3);
}

@keyframes glowing{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}